<div class="customer-page">
    <div class="container header">
              <img src="/assets/images/logo.JPG" class="logo">
              

      </div>

      <div class=" movie-details ">
              <div class="row">
                      <div class="col-md-6 left-box">
                              <h1>Thor Ragnarok</h1>
                              <p>Thor: Ragnarok is a 2017 American superhero film based on the Marvel Comics character Thor, produced by Marvel Studios
                              and distributed by Walt Disney Studios Motion Pictures.</p>
                              <p>Cast:</p>
                              <div class="casting">
                                      <img src="/assets/images/ChrisHemsworth.jfif" title="Chris HemsWorth">
                                      <img src="/assets/images/Mark.jpg" title="Mark Ruffalo">
                                      <img src="/assets/images/Tom.jfif" title="Tom HiddleStone">
                              </div>
                      </div>
                      <div class="col-md-6 text-center">
                              <img src="/assets/images/poster.jpg" class="movie-img">
                      </div>
              </div>
      </div>
      <div class="movie-details series">
              <h3>Popular Movies</h3>
              <div class="row">
                      <div class="col-md-4">
                              <div class="row">
                                      <div class="col-6">
                                              <img src="/assets/images/joker.jfif">
                                      </div>
                                      <div class="col-6">
                                              <img src="/assets/images/logan.jfif">
                                      </div>
                                      <div class="col-6">
                                              <img src="/assets/images/warcraft.jfif">
                                      </div>
                                      <div class="col-6">
                                              <img src="/assets/images/fast8.jfif">
                                      </div>
                              </div>
                      </div>
                      <div class="col-md-6">
                              <p>Joker is a 2019 American psychological thriller film directed and produced by Todd Phillips, who co-wrote the screenplay
                              with Scott Silver. The film, based on DC Comics characters, stars Joaquin Phoenix as the Joker and provides a possible
                              origin story for the character</p>
                              <br>
                              <h3>Free Movie Mechandize on Booking MCU Movies</h3>
                      </div>
                      <br>
                      
      
              </div>
              
              
             
      </div>
      <app-show-carousel></app-show-carousel>
      <app-front-page></app-front-page>
      

  </div>

  
